
#web-title {
    color:darkred;

}
Table{
    border: 1px solid green
    bro-collapse: collapse;
}
td{
    border:1px  solid green;
    padding: 4px;
}
td{border:1px solid green
    padding: 4px;

}
button{
    background-color:blue"
    width: 200px;
    height: 50px;
}
button{
    background-color: navy;
    width: 200px;
    height: 50px;
    font-size: 24px;
}
button:hover{
    background-color:darkmagenta;
}
ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow:hidden;
    background-color: magenta;
}
1i{
    float:left
display:bloke;
color:white;
text-aling:center;
padding:14px 16px;
text-decoration:none;
}
1i a:hover{
    background-color:black;
}

1i a{
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background-color: brown;
}
1i{
    float:left;
}

1i a{
    display:block
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
















}





    

